.mobile-wrapper{
	width: 100%;
    margin: 0 auto;
    text-align: center;
}

.ui-page.ui-body-c {
    background: url("../icons/MsgBox.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
	position: fixed;
	z-index: 100;
}
/*Anim Begin */

  /*End*/
a{
	text-decoration: none;
}

td{
	text-shadow: none;
	font-weight: bold;
	color: white;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
	font-weight: 200;
	margin: 0;
	padding: 10px 0;
}

.menu-toggle{
	text-align: center;
	cursor:  pointer;
}

.mobile-nav{
	opacity: 0.9;
	font-weight: 200;
}

.mobile-nav ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
	z-index: 1000;
	padding: 18px 20px 18px 20px;
	text-shadow: none;
	box-shadow: 
}


.mobile-nav ul li:hover{
	box-shadow: 1px 1px 1px 1px#888888;	
}

.btn-container{
	padding: 2px;
	margin: 0;
	position: absolute;
	top: 80px;
	display: block;
	z-index: -1;
}

.company-logo{
	padding: 0;
	margin: 0 auto;
	background-image: url("../icons/faviconVR.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 32px;
	height:32px;
	margin-bottom: -32px;
}

.company-logo .setting-icon .remote-icon .back-icon .power-icon:hover{
	box-shadow: 1px 1px 1px 1px#888888;	
	border: 2px solid red;
}

.setting-icon{
	padding: 0;
	background-image: url("../icons/Button-Settings - Copy.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 34px;
	height:34px;
	position: relative;
	float: left;
	margin-top: 40 px;	
	cursor: pointer;
}

.remote-icon{
	padding: 0;
	background-image: url("../icons/data-icon.svg_0.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 19px;
	height:19px;
	position: relative;
	float: left;
	margin-top: 40 px;
	cursor: pointer;
}


.back-icon{
	padding: 0;
	background-image: url("../icons/NavBack.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 34px;
	height:34px;
	position: relative;
	float: left;
	margin-top: 40 px;
	cursor: pointer;
}


.power-icon{
	padding: 0;
	background-image: url("../icons/Button-Power - Copy.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 34px;
	height:34px;
	position: relative;
	float: right;
	margin-top: 40 px;
	cursor: pointer;
}

.ShowInfoModule{
	text-shadow: none;
	color: 
}

table{
	margin: 0 auto;
	float: left;
}

#footer-container{
	padding:0;
}

/* MOBILE FOUR */

.mobile-four{
	background: #1d1c29;
    background: -webkit-linear-gradient(#1d1c29, #2f254b); 
    background: -o-linear-gradient(#1d1c29, #2f254b); 
    background: -moz-linear-gradient(#1d1c29, #2f254b); 
    background: linear-gradient(#1d1c29, #2f254b);
}


.mobile-four .mobile-nav{
	background-color: #3C3842;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: translate(0, -999%);
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}


.ShowInfoModule{
	padding: 2px;
	margin: 0;
	position: absolute;
	top: 80px;
	display: block;
	z-index: -1;
}
/*-------- Living Room ----------------*/
#l_pendt{
	background-image: url("../icons/Button-Pendant.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#l_wlight{
	background-image: url("../icons/Button-Wall.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#l_fan{
	background-image: url("../icons/Button-Fan.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#l_tmpctrl{
	background-image: url("../icons/Button-AC.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

/*---- Kitchen ------*/
#k_pendt{
	background-image: url("../icons/Button-Pendant.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#k_wlight{
	background-image: url("../icons/Button-Wall.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#k_fan{
	background-image: url("../icons/Button-Fan.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#k_vents{
	background-image: url("../icons/Button-Exhaust.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

/*------ Bedroom ------*/
#b_wlight{
	background-image: url("../icons/Button-Wall.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#b_fan{
	background-image: url("../icons/Button-Fan.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}


#b_tmpctrl{
	background-image: url("../icons/Button-AC.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#b_tlight{
	background-image: url("../icons/Button-TableLight.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

/*--- Rest room ---------*/
#r_wlight{
	background-image: url("../icons/Button-Wall.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}


#r_vents{
	background-image: url("../icons/Button-Exhaust.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#r_vlight{
	background-image: url("../icons/Button-VanityLight.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#r_geyser{
	background-image: url("../icons/Button-HotWater.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 142px;
	height: 100px;
	border:none;
}

#home_icon{
	background-image: url("../icons/Button-Home.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 75px;
	height: 52px;
	border:none;
}


#Living-Icon{
	background-image: url("../icons/Button-LivingRoom.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 140px;
	height: 99px;
	border: none;
}


#Kitchen-Icon{
	background-image: url("../icons/Button-Kitchen.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 140px;
	height: 99px;
	border:none;
}

#Bed-Icon{
	background-image: url("../icons/Button-BedRoom.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 140px;
	height: 99px;
	border:none;
}

#Rest-Icon{
	background-image: url("../icons/Button-Bathroom.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 140px;
	height: 99px;
	border:none;
}

.mobile-four .mobile-nav li a{
	color: #989AA4;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}

.mobile-four .mobile-nav li a:visited{
	color: #989AA4;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}

.mobile-four .mobile-nav li a:hover{
	color: #fff;
}
